<!-- Add a Review Form Template-->

{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}


<h2>Add a Review</h2>

<p> What did you like about your takeaway? What did you not like? Would you order from them again? Add your reviews notes below.</p>


    <form method="post">
    <!-- This token protects app from Cross-Site Request Forgery (CSRF) attacks, ensures submission comes from authenticated user -->
    {% csrf_token %}
    <!-- Makes form using Crispy Forms -->
    {{ form|crispy }}

    <button class="btn signingbutton" type="submit">Add a Review</button>

</form>


{% endblock %}