<!-- User Profile Template-->

<!--NOTE FROM TINA: Realised this content was more appropriate for a User Dashboard, so move that info over there.
This Profile is still all wired up as needed to views and urls, the content here just needs to be added-->

{% extends "base.html" %}

{% block content %}


    <!-- Add a Review Button -->
    <div class="text-center">
       <a href="https://www.youtube.com/watch?v=xvFZjo5PgG0" class="btn btn-warning btn-lg">Add a Review</a> <!--This url will need updating -->
    </div>
</div>
{% endblock %}