
/* Page styles */

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

main {
    background: white url("https://res.cloudinary.com/dp1ehadna/image/upload/v1723822653/heroimage_pdpk38.jpg") no-repeat center/cover fixed;
}

/* Header styles */

header, nav {
    background-color: #5058A8;
    color: white;
}

header .nav-link, header .nav-brand {
    color: white;
}

.nav-link:hover, .nav-link:focus, .nav-link:focus-visible {
    text-decoration: underline;
    color: white;
}

header img {
    width: 150px;
}

/* Footer styles */

footer {
    background-color: #5058A8;
    color: white;
}

footer i {
    color: white;
}

/* Register page */

.login li, #signup_form li {
    list-style: none;
}

/* This is to help the text on the page stand out from the background image */
.text-overlay {
    background: rgba(255, 255, 255, 0.97); /* White with 50% transparency */
    padding: 10px 0px; /* Adjust padding as needed */
    display: inline-block; /* Ensures effect only takes up the width of the text */
    border-radius: 5px; /* Adds rounded corners */
}

/* Sign in and Log Out pages */

.welcome {
    text-align: center;
    justify-content: center;
}

.signing {
    color: black;
    font-weight: 600;
    text-align: center;
}

.signingbutton {
    background-color: #F4C542; 
    color: black;
    width: 150px;
    height: 50px; 
    border: 2px solid black; 
    border-radius: 5px; 
    font-size: 16px;
    font-weight: bold; 
    text-align: center;
    display: inline-block;
    text-decoration: none;
}

.signingbutton:hover {
    background-color: #F4C542; 
    color: black; 
    border-color: black; 
}


.djangomessage {
    color: black;
    font-weight: 600;
    text-align: center;
    background-color: rgba(240, 240, 240, 0.5);
}

