
/* Page styles */

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

/* Header styles */

header, nav {
    background-color: #5058A8;
    color: white;
}

header .nav-link, header .nav-brand {
    color: white;
}

.nav-link:hover, .nav-link:focus, .nav-link:focus-visible {
    text-decoration: underline;
    color: white;
}

header img {
    width: 150px;
}

/* Footer styles */

footer {
    background-color: #5058A8;
    color: white;
}

footer i {
    color: white;
}

/* Sign in and Log Out pages */

.welcome {
    text-align: center;
    justify-content: center;
}

.signing {
    color: black;
    font-weight: 600;
    text-align: center;
}

.signingbutton {
    background-color: #F4C542; 
    color: black;
    width: 150px;
    height: 50px; 
    border: 2px solid black; 
    border-radius: 5px; 
    font-size: 16px;
    font-weight: bold; 
    text-align: center;
    display: inline-block;
    text-decoration: none;
}

.signingbutton:hover {
    background-color: #F4C542; 
    color: black; 
    border-color: black; 
}


.djangomessage {
    color: black;
    font-weight: 600;
    text-align: center;
    background-color: rgba(240, 240, 240, 0.5);
}

