<!-- Base template code found on all pages imported here -->
{% extends "base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% load static %}

{% block content %}
<!-- Start a block if you intend to override it in child templates -->

<div class="container welcome signing">
  <div class="row mt-5">
    <div class="d-flex justify-content-center">
      <img id="company-logo" class="img-fluid"
        src="https://res.cloudinary.com/dp1ehadna/image/upload/v1723817030/szqoxcu6niwd58uzfcuh.png" alt="Company Logo">
    </div>
    <h1 class="index-box my-auto py-5 mt-5"><strong>A private takeaway review website where your words are
        only for you!</strong></h1>
  </div>
  <div class="index-box row mt-5">
    <p class="p-2">Welcome to Byte 2 Eat. This website allows you to review takeaways in an
      informal private
      way using your own words and names.
      Be as specific, vague or expressive as you want about the food you've eaten.
      Build a profile of what you like to buy and how you like to mix them to enjoy your perfect meals
    </p>
  </div>
  <!-- If user is NOT logged in display sign in details -->
  {% if user.is_authenticated %}
    <div class="row mb-3">
      <div class="col-md-8 mt-3 offset-md-2">
        <a href="{% url 'review_dashboard' %}" class="btn signingbutton">Take me to my Dashboard</a>
      </div>
    </div>
  {% else %}
    <div class="row mb-3">
      <div class="col-md-8 mt-3 offset-md-2">
        <form class="login mb-4" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="btn signingbutton" type="submit">{% trans "Log In" %}</button>
        </form>
      </div>
    </div>
  {% endif %}
</div>

{% endblock content %}