{% extends 'base.html' %} {% block content %}
{% load static %}
<!-- Content from Base.HTML after this block-->

<!-- About Byte2Eat -->

<div class="container-fluid mt-5">
    <div class="container" id="aboutbyte">
        <div class="row justify-content-center">
            <div class="col-md-10 col-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ about.title }}</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ about.about_byte2eat | safe }}</li>
                        <li class="list-group-item">{{ about.about_snackoverflow | safe }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- About US  -->
<div class="container-fluid my-5" id="snackprofile">
    <div class="row justify-content-center">
        <h2>Meet the Team!</h2>
        <!-- Code to be iterated to create numerous cards from database -->
        {% for profile in profile_list %}
        <div class="col-lg-2 col-md-6 col-sm-12 mb-4 link_highlight">
            <div class="card border h-100">
                <div class="image-container">
                    {% if "placeholder" in profile.image.url %}
                    <img src="{% static '/images/byte2eatlogo.png' %}" 
                         class="card-img-top" 
                         alt="(placeholder image)">
                    {% else %}
                    <img src="{{ profile.image.url }}" 
                         class="card-img-top" 
                         alt="Profile Image {{ profile.profile_name }}">
                    {% endif %}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ profile.profile_name | safe }}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>About: </strong>{{ profile.about_profile | safe }}</li>
                    <li class="list-group-item"><strong>Fun Fact: </strong>{{ profile.funfact | safe }}</li>
                </ul>
            </div>
        </div>
        <!-- End of iterated code-->
        {% endfor %}
    </div>
</div>


{% endblock content %}