
body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header, nav {
    background-color: #5058A8;
    color: white;
}

.nav-link, .nav-brand {
    color: white;
}

footer {
    background-color: #5058A8;
}