
body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header, nav {
    background-color: #5058A8;
    color: white;
}

.nav-link, .nav-brand {
    color: white;
}


/* Sign in and Log Out pages */

.signing {
    color: black;
    font-weight: 600;
    text-align: center;
/*    background-color: rgba(240, 240, 240, 0.8); */
}

.signingbutton {

}

.djangomessage {
    color: black;
    font-weight: 600;
    text-align: center;
    background-color: rgba(240, 240, 240, 0.5);
}

footer {
    background-color: #5058A8;
}